@model BookStoreWeb.Models.Domain.Product
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <img src="~/image/payment-fail.png" />
    <h3 class="mt-5 mb-5">Sản phẩm @Model.ProductName không đủ số lượng yêu cầu.</h3>
</div>

