
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Chọn : </h3>

<button type="button" class="btn btn-secondary">  <a asp-controller="SanPham" asp-action="Index">Quản Lý Sản Phẩm</a></button>
<button type="button" class="btn btn-success"><a asp-controller="Types" asp-action="Index">Quản Lý Thể Loại</a></button>
<button type="button" class="btn btn-danger"><a asp-controller="Discounts" asp-action="Index">Quản Lý Khuyến Mãi</a></button>
<button type="button" class="btn btn-warning"><a asp-controller="Orders" asp-action="Index">Quản Lý Hóa Đơn</a></button>


<button type="button" class="btn btn-secondary">  <a asp-controller="SanPham" asp-action="Index">Quản Lý Sản Phẩm</a></button>
<button type="button" class="btn btn-success"><a asp-controller="Types" asp-action="Index">Quản Lý Thể Loại</a></button>
<button type="button" class="btn btn-danger"><a asp-controller="Discounts" asp-action="Index">Quản Lý Khuyến Mãi</a></button>
<button type="button" class="btn btn-warning"><a asp-controller="Orders" asp-action="Index">Quản Lý Hóa Đơn</a></button>


<button type="button" class="btn btn-secondary"><a asp-controller="ManageUser" asp-action="Index">Quản Lý User</a></button>


